In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:

# 1. Data exploration - columns, unique values in a column, describe, duplicates
# 2. Dealing with missing values - quantifying missing values per column, filling & dropping missing values
# 3. Filtering data
# 4. Reshaping data - pivot tables, joins, grouping ,aggregating and

In [179]:
df = pd.read_csv('./breast_cancer_data.csv')

# Data Exploration

In [6]:
#start of by actually looking at your data set
# What is the size of our dataset?
df.shape

(699, 12)

In [7]:
#Its good to inspect your colums

df.columns

Index(['patient_id', 'clump_thickness', 'cell_size_uniformity',
       'cell_shape_uniformity', 'marginal_adhesion', 'single_ep_cell_size',
       'bare_nuclei', 'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class',
       'doctor_name'],
      dtype='object')

In [8]:
## Data Typs of all colums
df.dtypes

patient_id                 int64
clump_thickness          float64
cell_size_uniformity     float64
cell_shape_uniformity      int64
marginal_adhesion          int64
single_ep_cell_size        int64
bare_nuclei               object
bland_chromatin          float64
normal_nucleoli          float64
mitoses                    int64
class                     object
doctor_name               object
dtype: object

In [21]:
#Its good to inspect your unique key identifier

df.nunique()



##there 699 rows but only 645 unique patients

patient_id               645
clump_thickness           10
cell_size_uniformity      10
cell_shape_uniformity     10
marginal_adhesion         10
single_ep_cell_size       10
bare_nuclei               11
bland_chromatin           10
normal_nucleoli           10
mitoses                    9
class                      2
doctor_name                4
dtype: int64

In [10]:
## Analyzing all numeical varibales

df.describe()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses
count,6.990000e+02,698.000000,698.000000,699.000000,699.000000,699.000000,695.000000,698.000000,699.000000
mean,1.071704e+06,4.416905,3.137536,3.207439,2.793991,3.216023,3.447482,2.868195,1.589413
std,6.170957e+05,2.817673,3.052575,2.971913,2.843163,2.214300,2.441191,3.055647,1.715078
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,3.500000,4.000000,5.000000,4.000000,1.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [11]:
df.head()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong

In [12]:

## subsetting a dimension

df["doctor_name"]

0        Dr. Doe
1      Dr. Smith
2        Dr. Lee
3      Dr. Smith
4       Dr. Wong
         ...
694      Dr. Lee
695    Dr. Smith
696      Dr. Lee
697      Dr. Lee
698     Dr. Wong
Name: doctor_name, Length: 699, dtype: object

In [13]:
df["doctor_name"].nunique()

4

In [14]:
df[df["doctor_name"] == "Dr. Smith"]

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
5,1017122,8.0,10.0,10,8,7,10,9.0,7.0,1,malignant,Dr. Smith
7,1018561,2.0,1.0,2,1,2,1,3.0,1.0,1,benign,Dr. Smith
8,1033078,2.0,1.0,1,1,2,1,1.0,1.0,5,benign,Dr. Smith
...,...,...,...,...,...,...,...,...,...,...,...,...
659,1334667,1.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
661,1339781,4.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Smith
669,1350423,5.0,10.0,10,8,5,5,7.0,10.0,1,malignant,Dr. Smith
688,603148,4.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith

In [161]:
##Gives us values of those particular dimension EXCLUDING NULL Values Category

df["class"].value_counts()

benign       458
malignant    241
Name: class, dtype: int64

In [167]:

##Gives us values of those particular dimension INCLUDING NULL Values Category

df["class"].value_counts(dropna = False)

benign       458
malignant    241
Name: class, dtype: int64

In [170]:
df["bland_chromatin"].value_counts()

2.0     165
3.0     164
1.0     150
7.0      73
4.0      40
5.0      34
8.0      28
10.0     20
9.0      11
6.0      10
0.0       4
Name: bland_chromatin, dtype: int64

In [171]:
df["bland_chromatin"].value_counts(dropna = False)

2.0     165
3.0     164
1.0     150
7.0      73
4.0      40
5.0      34
8.0      28
10.0     20
9.0      11
6.0      10
0.0       4
Name: bland_chromatin, dtype: int64

## DATA PRE PROCESSING

In [ ]:




### Fucntions that have inplace parameter and if set for True (default is False) that change or operation will 
### happen on the same dataframe itself and you need not equate it again 

# for e.g : df = df.fillna(value = 'test', inpalce = True)

In [53]:
df.columns

Index(['patient_id', 'clump_thickness', 'cell_size_uniformity',
       'cell_shape_uniformity', 'marginal_adhesion', 'single_ep_cell_size',
       'bare_nuclei', 'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class',
       'doctor_name'],
      dtype='object')

In [54]:
df.isna()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
694,False,False,False,False,False,False,False,False,False,False,False,False
695,False,False,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False,False,False

In [56]:
df.isna().sum()

patient_id               0
clump_thickness          1
cell_size_uniformity     1
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              2
bland_chromatin          4
normal_nucleoli          1
mitoses                  0
class                    0
doctor_name              0
dtype: int64

In [62]:
df.isnull()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
694,False,False,False,False,False,False,False,False,False,False,False,False
695,False,False,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False,False,False

In [133]:

df.isnull().sum()

patient_id               0
clump_thickness          0
cell_size_uniformity     0
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              0
bland_chromatin          0
normal_nucleoli          0
mitoses                  0
class                    0
doctor_name              0
dtype: int64

In [67]:
sum(df.isnull().sum())

9

In [69]:
df2 = df.copy()

In [70]:
id(df) == id(df2)

False

In [73]:
df2.isna().sum().sum()

9

In [82]:
df2 = df2.fillna(value = 0)

In [83]:
df2.isnull().sum().sum()

0

In [104]:
## we can fill with any value as required apart from 0

df = df.fillna(0)

In [105]:
df.isna().sum().sum()

0

In [110]:
df2.shape

(699, 12)

In [134]:
df2.isnull().sum()

patient_id               0
clump_thickness          1
cell_size_uniformity     1
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              2
bland_chromatin          4
normal_nucleoli          1
mitoses                  0
class                    0
doctor_name              0
dtype: int64

In [111]:
df4 = df.copy()

In [113]:
df4

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [128]:
df4.isnull() == True

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
694,False,False,False,False,False,False,False,False,False,False,False,False
695,False,False,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False,False,False

In [131]:

#### Fillin in a default value

df4.fillna(value = 'test' )

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [132]:
df4.isnull().sum()

patient_id               0
clump_thickness          0
cell_size_uniformity     0
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              0
bland_chromatin          0
normal_nucleoli          0
mitoses                  0
class                    0
doctor_name              0
dtype: int64

In [135]:
df5 = df2.copy()

In [136]:
df5.notnull()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
694,True,True,True,True,True,True,True,True,True,True,True,True
695,True,True,True,True,True,True,True,True,True,True,True,True
696,True,True,True,True,True,True,True,True,True,True,True,True
697,True,True,True,True,True,True,True,True,True,True,True,True
698,True,True,True,True,True,True,True,True,True,True,True,True

In [137]:
df5[df5.notnull()]

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [142]:
df5.clump_thickness.notnull()

0      False
1      False
2      False
3      False
4      False
       ...
694    False
695    False
696    False
697    False
698    False
Name: clump_thickness, Length: 699, dtype: bool

In [143]:
##notnull() is a fucntion to check for not Null values and apply it to the complete dataframe

df5[df5.clump_thickness.notnull() == False]

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
12,1041801,NaN,3.0,3,3,2,3,4.0,4.0,1,malignant,Dr. Smith

In [145]:
df4[df4.patient_id == 1041801]

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
12,1041801,0.0,3.0,3,3,2,3,4.0,4.0,1,malignant,Dr. Smith

In [146]:
## Filling Null values with value in the previous row of same col

df2.fillna(method = 'pad')

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [147]:
## Filling Null values with value in the next row of same col
## backward fill

df2.fillna(method = 'bfill')

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [ ]:
## Filling Null values with value in the previous and next Column of same Row
## backward fill

df2.fillna(method = 'pad',axis = 1)
df2.fillna(method = 'bfill',axis = 1)

In [148]:

## Filling null values in each col separately with different values

df2.fillna({'clump_thickness' : 'abcd','cell_shape_uniformity': 'defg'})

In [149]:

## Filling null values with mean, min or max of a particular column

## One also assign different values using for filling different columns

df.fillna(value = df["clump_thickness"].mean())

df.fillna(value = df["clump_thickness"].min())

df.fillna(value = df["clump_thickness"].max())

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [150]:

###Drop NA

## Removes rows with at leats one Null value in the dataset

df2 = df2.dropna()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [151]:





df2.dropna(how = 'all')

df2.dropna(axis='columns' or axis = 1 )

## Dropping Null values depends on the business or problem statement in hand, if majority of rows in the dataset 
## have at least one col as Null then we may loose a major portion of the dataset

## we can drop based on a condition for a subset of columns also




df.dropna(subset = ['clump_thickness',' cell_size_uniformity'], how = any)






## by defalut it is any
##  Drop the columns where at least one element is missing.

# axis : {0 or 'index', 1 or 'columns'}, default 0
#     Determine if rows or columns which contain missing values are
#     removed.

#     * 0, or 'index' : Drop rows which contain missing values.
#     * 1, or 'columns' : Drop columns which contain missing value.

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [180]:
df.dropna()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [152]:


## Removing Null values using replace function; can be down to replace other values

df2 = df2.replace(to_replace = np.nan, value = 84 or 'abcd')

In [155]:
## Interpoate Method
# It interpolates the whole column and gives the value


df2["clump_thickness"] = df2["clump_thickness"].interpolate(method = 'linear')
df2

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [157]:

# Decided how many consecutive Null values need to be filled

# limit_direction : {'forward', 'backward', 'both'}, default 'forward'
#  If limit is specified, consecutive NaNs will be filled in this direction


# limit : int, optional ; Maximum number of consecutive NaNs to fill. Must be greater than 0

df2["clump_thickness"] = df2["clump_thickness"].interpolate(method = 'linear',limit_direction='forward' )
df2

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

# DATA AGGREGATION

In [15]:
# This aggreates the data by its column names, then we pass the aggregation function (size = count)

df.groupby("doctor_name").size()

doctor_name
Dr. Doe      185
Dr. Lee      181
Dr. Smith    176
Dr. Wong     157
dtype: int64

In [16]:
df.groupby(["doctor_name","class"]).size()

doctor_name  class
Dr. Doe      benign       127
             malignant     58
Dr. Lee      benign       121
             malignant     60
Dr. Smith    benign       102
             malignant     74
Dr. Wong     benign       108
             malignant     49
dtype: int64

In [17]:
pd.DataFrame(df.groupby(["doctor_name","class"]).size())

                         0
doctor_name class
Dr. Doe     benign     127
            malignant   58
Dr. Lee     benign     121
            malignant   60
Dr. Smith   benign     102
            malignant   74
Dr. Wong    benign     108
            malignant   49

In [18]:
a = pd.DataFrame(df.groupby(["doctor_name","class"]).size())

In [19]:
a

                         0
doctor_name class
Dr. Doe     benign     127
            malignant   58
Dr. Lee     benign     121
            malignant   60
Dr. Smith   benign     102
            malignant   74
Dr. Wong    benign     108
            malignant   49

 
## DIFFERRENT WAYS OF GROUPING

In [22]:
df.groupby(["doctor_name"]).agg(sum)

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses
doctor_name,,,,,,,,,
Dr. Doe,202939686,775.0,518.0,538,499,577,563.0,505.0,267
Dr. Lee,191896551,757.0,534.0,543,493,550,615.0,482.0,281
Dr. Smith,189004776,853.0,653.0,666,536,610,680.0,565.0,296
Dr. Wong,165280152,698.0,485.0,495,425,511,538.0,450.0,267

In [42]:
df.groupby(["doctor_name"]).agg({'size'})

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
,size,size,size,size,size,size,size,size,size,size,size
doctor_name,,,,,,,,,,,
Dr. Doe,185,185,185,185,185,185,185,185,185,185,185
Dr. Lee,181,181,181,181,181,181,181,181,181,181,181
Dr. Smith,176,176,176,176,176,176,176,176,176,176,176
Dr. Wong,157,157,157,157,157,157,157,157,157,157,157

In [36]:
b = df.groupby(["doctor_name"]).agg({'sum'})

In [37]:
b

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses,class
,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum
doctor_name,,,,,,,,,,
Dr. Doe,202939686,775.0,518.0,538,499,577,563.0,505.0,267,benignbenignbenignbenignmalignantmalignantmali...
Dr. Lee,191896551,757.0,534.0,543,493,550,615.0,482.0,281,benignmalignantbenignbenignbenignbenignbenignm...
Dr. Smith,189004776,853.0,653.0,666,536,610,680.0,565.0,296,benignbenignmalignantbenignbenignbenignmaligna...
Dr. Wong,165280152,698.0,485.0,495,425,511,538.0,450.0,267,benignbenignbenignbenignmalignantbenignmaligna...

In [38]:
type(b)

pandas.core.frame.DataFrame

In [39]:
# Note that the dimension column is the new index


b[["patient_id","marginal_adhesion"]]

            patient_id marginal_adhesion
                   sum               sum
doctor_name
Dr. Doe      202939686               499
Dr. Lee      191896551               493
Dr. Smith    189004776               536
Dr. Wong     165280152               425

In [45]:
 r = df.groupby(["doctor_name"],as_index = True).sum()

In [46]:
r

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses
doctor_name,,,,,,,,,
Dr. Doe,202939686,775.0,518.0,538,499,577,563.0,505.0,267
Dr. Lee,191896551,757.0,534.0,543,493,550,615.0,482.0,281
Dr. Smith,189004776,853.0,653.0,666,536,610,680.0,565.0,296
Dr. Wong,165280152,698.0,485.0,495,425,511,538.0,450.0,267

In [52]:
r[1:2]

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses
doctor_name,,,,,,,,,
Dr. Lee,191896551,757.0,534.0,543,493,550,615.0,482.0,281

In [48]:
t =df.groupby(["doctor_name"], as_index  = False).sum()

In [49]:
t

,doctor_name,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses
0,Dr. Doe,202939686,775.0,518.0,538,499,577,563.0,505.0,267
1,Dr. Lee,191896551,757.0,534.0,543,493,550,615.0,482.0,281
2,Dr. Smith,189004776,853.0,653.0,666,536,610,680.0,565.0,296
3,Dr. Wong,165280152,698.0,485.0,495,425,511,538.0,450.0,267

In [51]:
t[1:2]

,doctor_name,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses
1,Dr. Lee,191896551,757.0,534.0,543,493,550,615.0,482.0,281

In [40]:
b.iloc[1]

patient_id             sum                                            191896551
clump_thickness        sum                                                  757
cell_size_uniformity   sum                                                  534
cell_shape_uniformity  sum                                                  543
marginal_adhesion      sum                                                  493
single_ep_cell_size    sum                                                  550
bland_chromatin        sum                                                  615
normal_nucleoli        sum                                                  482
mitoses                sum                                                  281
class                  sum    benignmalignantbenignbenignbenignbenignbenignm...
Name: Dr. Lee, dtype: object

In [47]:
 df.loc[1]

patient_id                 1002945
clump_thickness                  5
cell_size_uniformity             4
cell_shape_uniformity            4
marginal_adhesion                5
single_ep_cell_size              7
bare_nuclei                     10
bland_chromatin                  3
normal_nucleoli                  2
mitoses                          1
class                       benign
doctor_name              Dr. Smith
Name: 1, dtype: object

In [48]:
df.iloc[1]

patient_id                 1002945
clump_thickness                  5
cell_size_uniformity             4
cell_shape_uniformity            4
marginal_adhesion                5
single_ep_cell_size              7
bare_nuclei                     10
bland_chromatin                  3
normal_nucleoli                  2
mitoses                          1
class                       benign
doctor_name              Dr. Smith
Name: 1, dtype: object

In [51]:
df.groupby('doctor_name').count()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
doctor_name,,,,,,,,,,,
Dr. Doe,185,185,184,185,185,185,184,183,185,185,185
Dr. Lee,181,181,181,181,181,181,181,179,181,181,181
Dr. Smith,176,175,176,176,176,176,175,176,176,176,176
Dr. Wong,157,157,157,157,157,157,157,157,156,157,157

In [50]:
df.groupby('doctor_name').count()['patient_id']

doctor_name
Dr. Doe      185
Dr. Lee      181
Dr. Smith    176
Dr. Wong     157
Name: patient_id, dtype: int64

In [57]:
x = df.groupby(["doctor_name", "class"]).agg({"clump_thickness":sum})

In [58]:
x

                       clump_thickness
doctor_name class
Dr. Doe     benign               335.0
            malignant            440.0
Dr. Lee     benign               361.0
            malignant            396.0
Dr. Smith   benign               316.0
            malignant            537.0
Dr. Wong    benign               342.0
            malignant            356.0

In [32]:

### defining  multiple  aggregations together

y = df.groupby(["doctor_name"]).agg({"clump_thickness":sum,"cell_shape_uniformity" : np.mean})

In [17]:
y

             clump_thickness  cell_shape_uniformity
doctor_name
Dr. Doe                775.0               2.908108
Dr. Lee                757.0               3.000000
Dr. Smith              853.0               3.784091
Dr. Wong               698.0               3.152866

In [31]:

## defining the aggregations with custom colum names

z = df.groupby(["doctor_name"]).agg(sum_c = ('clump_thickness',sum), mean_c  = ("cell_shape_uniformity",np.mean))

In [29]:
z

             sum_c    mean_c
doctor_name
Dr. Doe      775.0  2.908108
Dr. Lee      757.0  3.000000
Dr. Smith    853.0  3.784091
Dr. Wong     698.0  3.152866

In [34]:


# Column names are case senstive and come first in agg function with quotes

# So the after group by the dimension Col is becoming the index unless specified as 
# as_index = False

# i.e use doctor_name as index - True or False

# doctor_name is not a column any more

## Processing Operations

In [172]:
df.columns

Index(['patient_id', 'clump_thickness', 'cell_size_uniformity',
       'cell_shape_uniformity', 'marginal_adhesion', 'single_ep_cell_size',
       'bare_nuclei', 'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class',
       'doctor_name'],
      dtype='object')

In [176]:
df.rename(index = str ,columns = {"patient_id" : "patient_ID"}, inplace = True)

In [177]:
df.columns

Index(['patient_ID', 'clump_thickness', 'cell_size_uniformity',
       'cell_shape_uniformity', 'marginal_adhesion', 'single_ep_cell_size',
       'bare_nuclei', 'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class',
       'doctor_name'],
      dtype='object')

In [181]:
df.nunique()

patient_id               645
clump_thickness           10
cell_size_uniformity      10
cell_shape_uniformity     10
marginal_adhesion         10
single_ep_cell_size       10
bare_nuclei               11
bland_chromatin           10
normal_nucleoli           10
mitoses                    9
class                      2
doctor_name                4
dtype: int64

In [183]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
694    False
695    False
696    False
697    False
698    False
Length: 699, dtype: bool

In [184]:
### Shows rows with same column values in the data

df[df.duplicated()]

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
258,1198641,3.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Lee

In [187]:
df[df.patient_id == 1198641 ]

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
168,1198641,3.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Lee
258,1198641,3.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Lee
266,1198641,10.0,10.0,6,3,3,10,4.0,3.0,2,malignant,Dr. Smith

In [188]:
df[df.patient_id == 1198641 ][0:2]

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
168,1198641,3.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Lee
258,1198641,3.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Lee

In [193]:
#Now that I have seen that there are some duplicates, I am going to go ahead and remove any duplicate rows
#, same things that occours twice
df.drop_duplicates(keep = 'first', inplace = True)

In [194]:
df[df.patient_id == 1198641 ]

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
168,1198641,3.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Lee
266,1198641,10.0,10.0,6,3,3,10,4.0,3.0,2,malignant,Dr. Smith

In [196]:

## No more duplicates in the dataseen

df[df.duplicated()]

Empty DataFrame
Columns: [patient_id, clump_thickness, cell_size_uniformity, cell_shape_uniformity, marginal_adhesion, single_ep_cell_size, bare_nuclei, bland_chromatin, normal_nucleoli, mitoses, class, doctor_name]
Index: []

In [213]:
### Repeated Patients:


repeat_patients = df.groupby(by = 'patient_id').size().sort_values(ascending =False)
repeat_patients

patient_id
1182404    6
1276091    5
1105524    2
1299596    2
385103     2
          ..
1212232    1
1211594    1
1211265    1
1211202    1
61634      1
Length: 645, dtype: int64

In [215]:
repeat_patients

patient_id
1182404    6
1276091    5
1105524    2
1299596    2
385103     2
          ..
1212232    1
1211594    1
1211265    1
1211202    1
61634      1
Length: 645, dtype: int64

In [216]:
filtered_patients = repeat_patients[repeat_patients > 2].to_frame().reset_index()
filtered_df = df[~df.patient_id.isin(filtered_patients.patient_id)]
filtered_df

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [217]:
# This is all the repeating patients details

df[df.patient_id.isin(filtered_patients.patient_id)]

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
136,1182404,4.0,1.0,1,1,2,1,2.0,1.0,1,benign,Dr. Lee
241,1276091,3.0,1.0,1,3,1,1,3.0,1.0,1,benign,Dr. Wong
256,1182404,3.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Wong
257,1182404,3.0,1.0,1,1,2,1,2.0,1.0,1,benign,Dr. Doe
265,1182404,5.0,1.0,4,1,2,1,3.0,2.0,1,benign,Dr. Lee
429,1276091,2.0,1.0,1,1,2,1,2.0,1.0,1,benign,Dr. Doe
430,1276091,1.0,3.0,1,1,2,1,2.0,2.0,1,benign,Dr. Wong
431,1276091,5.0,1.0,1,3,4,1,3.0,2.0,1,benign,Dr. Wong
448,1182404,1.0,1.0,1,1,1,1,1.0,1.0,1,benign,Dr. Lee
462,1276091,6.0,1.0,1,3,2,1,1.0,1.0,1,benign,Dr. Lee
497,1182404,4.0,2.0,1,1,2,1,1.0,1.0,1,benign,Dr. Wong

# One Hot Encoding Catergorical Data

In [218]:
categorical_df = df[['patient_id', 'doctor_name']]

In [219]:
# This specifies all rows (':') and column name 'doctor_count'
categorical_df.loc[:,'doctor_count'] = 1

/dsw/snapshots/182e73fc-e8ea-4c97-8103-ffad722a5ce2/python3/lib/python3.6/site-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/dsw/snapshots/182e73fc-e8ea-4c97-8103-ffad722a5ce2/python3/lib/python3.6/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [220]:
categorical_df

     patient_id doctor_name  doctor_count
0       1000025     Dr. Doe             1
1       1002945   Dr. Smith             1
2       1015425     Dr. Lee             1
3       1016277   Dr. Smith             1
4       1017023    Dr. Wong             1
..          ...         ...           ...
694      776715     Dr. Lee             1
695      841769   Dr. Smith             1
696      888820     Dr. Lee             1
697      897471     Dr. Lee             1
698      897471    Dr. Wong             1

[698 rows x 3 columns]

In [221]:
doctors_one_hot_encoded  = pd.pivot_table(categorical_df
                                  ,index = categorical_df.index, 
                                  columns = ['doctor_name'], values = ['doctor_count'])

In [222]:
doctors_one_hot_encoded

            doctor_count
doctor_name      Dr. Doe Dr. Lee Dr. Smith Dr. Wong
0                    1.0     NaN       NaN      NaN
1                    NaN     NaN       1.0      NaN
2                    NaN     1.0       NaN      NaN
3                    NaN     NaN       1.0      NaN
4                    NaN     NaN       NaN      1.0
..                   ...     ...       ...      ...
694                  NaN     1.0       NaN      NaN
695                  NaN     NaN       1.0      NaN
696                  NaN     1.0       NaN      NaN
697                  NaN     1.0       NaN      NaN
698                  NaN     NaN       NaN      1.0

[698 rows x 4 columns]

In [223]:
doctors_one_hot_encoded = doctors_one_hot_encoded.fillna(0)
doctors_one_hot_encoded

            doctor_count
doctor_name      Dr. Doe Dr. Lee Dr. Smith Dr. Wong
0                    1.0     0.0       0.0      0.0
1                    0.0     0.0       1.0      0.0
2                    0.0     1.0       0.0      0.0
3                    0.0     0.0       1.0      0.0
4                    0.0     0.0       0.0      1.0
..                   ...     ...       ...      ...
694                  0.0     1.0       0.0      0.0
695                  0.0     0.0       1.0      0.0
696                  0.0     1.0       0.0      0.0
697                  0.0     1.0       0.0      0.0
698                  0.0     0.0       0.0      1.0

[698 rows x 4 columns]

In [224]:
doctors_one_hot_encoded.columns = doctors_one_hot_encoded.columns.droplevel()
doctors_one_hot_encoded

doctor_name  Dr. Doe  Dr. Lee  Dr. Smith  Dr. Wong
0                1.0      0.0        0.0       0.0
1                0.0      0.0        1.0       0.0
2                0.0      1.0        0.0       0.0
3                0.0      0.0        1.0       0.0
4                0.0      0.0        0.0       1.0
..               ...      ...        ...       ...
694              0.0      1.0        0.0       0.0
695              0.0      0.0        1.0       0.0
696              0.0      1.0        0.0       0.0
697              0.0      1.0        0.0       0.0
698              0.0      0.0        0.0       1.0

[698 rows x 4 columns]

In [225]:
combined_df = pd.merge(df, doctors_one_hot_encoded, left_index = True,right_index =True, how ='left')
combined_df

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name,Dr. Doe,Dr. Lee,Dr. Smith,Dr. Wong
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe,1.0,0.0,0.0,0.0
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith,0.0,0.0,1.0,0.0
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee,0.0,1.0,0.0,0.0
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith,0.0,0.0,1.0,0.0
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee,0.0,1.0,0.0,0.0
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith,0.0,0.0,1.0,0.0
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee,0.0,1.0,0.0,0.0
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee,0.0,1.0,0.0,0.0
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong,0.0,0.0,0.0,1.0

# Making new columns and conducting elementise operations

In [226]:
combined_df.drop(columns=['doctor_name'])

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,Dr. Doe,Dr. Lee,Dr. Smith,Dr. Wong
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,1.0,0.0,0.0,0.0
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,0.0,0.0,1.0,0.0
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,0.0,1.0,0.0,0.0
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,0.0,0.0,1.0,0.0
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,0.0,1.0,0.0,0.0
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,0.0,0.0,1.0,0.0
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,0.0,1.0,0.0,0.0
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,0.0,1.0,0.0,0.0
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,0.0,0.0,0.0,1.0

In [227]:
# How to convert benign & malingant to 0 and 1

class_to_numerical_dictionary = {'benign':0, 'malignant':1}

combined_df['class'] = combined_df['class'].map(class_to_numerical_dictionary)

combined_df

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name,Dr. Doe,Dr. Lee,Dr. Smith,Dr. Wong
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,0,Dr. Doe,1.0,0.0,0.0,0.0
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,0,Dr. Smith,0.0,0.0,1.0,0.0
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,0,Dr. Lee,0.0,1.0,0.0,0.0
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,0,Dr. Smith,0.0,0.0,1.0,0.0
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,0,Dr. Wong,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,0,Dr. Lee,0.0,1.0,0.0,0.0
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,0,Dr. Smith,0.0,0.0,1.0,0.0
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,1,Dr. Lee,0.0,1.0,0.0,0.0
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,1,Dr. Lee,0.0,1.0,0.0,0.0
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,1,Dr. Wong,0.0,0.0,0.0,1.0

In [228]:


def celltypelabel (x):
    if ((x['cell_size_uniformity'] > 5) & (x['cell_shape_uniformity'] > 5)):
        return('normal')
    else:
        return('abnormal')
    
    
combined_df["celltypelabel"]  = combined_df.apply(lambda x: celltypelabel(x), axis =1 )

In [229]:
combined_df

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name,Dr. Doe,Dr. Lee,Dr. Smith,Dr. Wong,celltypelabel
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,0,Dr. Doe,1.0,0.0,0.0,0.0,abnormal
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,0,Dr. Smith,0.0,0.0,1.0,0.0,abnormal
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,0,Dr. Lee,0.0,1.0,0.0,0.0,abnormal
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,0,Dr. Smith,0.0,0.0,1.0,0.0,normal
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,0,Dr. Wong,0.0,0.0,0.0,1.0,abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,0,Dr. Lee,0.0,1.0,0.0,0.0,abnormal
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,0,Dr. Smith,0.0,0.0,1.0,0.0,abnormal
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,1,Dr. Lee,0.0,1.0,0.0,0.0,normal
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,1,Dr. Lee,0.0,1.0,0.0,0.0,normal
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,1,Dr. Wong,0.0,0.0,0.0,1.0,normal

In [230]:
combined_df[~(combined_df.cell_size_uniformity >5) & (combined_df.cell_shape_uniformity >5)]

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name,Dr. Doe,Dr. Lee,Dr. Smith,Dr. Wong,celltypelabel
15,1047630,7.0,4.0,6,4,6,1,4.0,3.0,1,1,Dr. Lee,0.0,1.0,0.0,0.0,abnormal
50,1108370,9.0,5.0,8,1,2,3,2.0,1.0,5,1,Dr. Smith,0.0,0.0,1.0,0.0,abnormal
52,1110102,10.0,3.0,6,2,3,5,4.0,10.0,2,1,Dr. Doe,1.0,0.0,0.0,0.0,abnormal
68,1120559,8.0,3.0,8,3,4,9,8.0,9.0,8,1,Dr. Wong,0.0,0.0,0.0,1.0,abnormal
84,1147699,3.0,5.0,7,8,8,9,7.0,10.0,7,1,Dr. Lee,0.0,1.0,0.0,0.0,abnormal
86,1148278,3.0,3.0,6,4,5,8,4.0,4.0,1,1,Dr. Smith,0.0,0.0,1.0,0.0,abnormal
99,1166630,7.0,5.0,6,10,5,10,7.0,9.0,4,1,Dr. Lee,0.0,1.0,0.0,0.0,abnormal
124,1175937,5.0,4.0,6,7,9,7,8.0,10.0,1,1,Dr. Smith,0.0,0.0,1.0,0.0,abnormal
186,1206695,1.0,5.0,8,6,5,8,7.0,10.0,1,1,Dr. Doe,1.0,0.0,0.0,0.0,abnormal
187,1206841,10.0,5.0,6,10,6,10,7.0,7.0,10,1,Dr. Wong,0.0,0.0,0.0,1.0,abnormal
191,1211202,7.0,5.0,10,10,10,10,4.0,10.0,3,1,Dr. Doe,1.0,0.0,0.0,0.0,abnormal
223,1226612,7.0,5.0,6,3,3,8,7.0,4.0,1,1,Dr. Smith,0.0,0.0,1.0,0.0,abnormal
226,1227481,10.0,5.0,7,4,4,10,8.0,9.0,1,1,Dr. Lee,0.0,1.0,0.0,0.0,abnormal
230,1230688,7.0,4.0,7,4,3,7,7.0,6.0,1,1,Dr. Lee,0.0,1.0,0.0,0.0,abnormal
232,1231706,8.0,4.0,6,3,3,1,4.0,3.0,1,0,Dr. Doe,1.0,0.0,0.0,0.0,abnormal
260,255644,10.0,5.0,8,10,3,10,5.0,1.0,3,1,Dr. Lee,0.0,1.0,0.0,0.0,abnormal
270,390840,8.0,4.0,7,1,3,10,3.0,9.0,2,1,Dr. Smith,0.0,0.0,1.0,0.0,abnormal
279,476903,10.0,5.0,7,3,3,7,3.0,3.0,8,1,Dr. Wong,0.0,0.0,0.0,1.0,abnormal
283,492268,10.0,4.0,6,1,2,10,5.0,3.0,1,1,Dr. Smith,0.0,0.0,1.0,0.0,abnormal
295,606722,5.0,5.0,7,8,6,10,7.0,4.0,1,1,Dr. Smith,0.0,0.0,1.0,0.0,abnormal
300,635844,8.0,4.0,10,5,4,4,7.0,10.0,1,1,Dr. Smith,0.0,0.0,1.0,0.0,abnormal
323,733823,5.0,4.0,6,10,2,10,4.0,1.0,1,1,Dr. Smith,0.0,0.0,1.0,0.0,abnormal
329,760239,10.0,4.0,6,4,5,10,7.0,1.0,1,1,Dr. Lee,0.0,1.0,0.0,0.0,abnormal
330,76389,10.0,4.0,7,2,2,8,6.0,1.0,1,1,Dr. Lee,0.0,1.0,0.0,0.0,abnormal
333,785208,5.0,4.0,6,6,4,10,4.0,3.0,1,1,Dr. Lee,0.0,1.0,0.0,0.0,abnormal
414,1238948,8.0,5.0,6,2,3,10,6.0,6.0,1,1,Dr. Doe,1.0,0.0,0.0,0.0,abnormal
426,1258556,5.0,3.0,6,1,2,1,1.0,1.0,1,0,Dr. Wong,0.0,0.0,0.0,1.0,abnormal
523,672113,7.0,5.0,6,10,4,10,5.0,3.0,1,1,Dr. Lee,0.0,1.0,0.0,0.0,abnormal
591,1295529,2.0,5.0,7,6,4,10,7.0,6.0,1,1,Dr. Doe,1.0,0.0,0.0,0.0,abnormal
603,1352663,5.0,4.0,6,8,4,1,8.0,10.0,1,1,Dr. Doe,1.0,0.0,0.0,0.0,abnormal
605,352431,10.0,5.0,10,3,5,8,7.0,8.0,3,1,Dr. Lee,0.0,1.0,0.0,0.0,abnormal